html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#editor {
  width: 600px;
}
.CodeMirror {
}

#resizer {
  width: 5px;
  height: 100%;
  background-color: #DDDDDD;
  cursor: col-resize;
}

#preview {
  flex: 1;
  height: 100%;

  iframe {
    border: none;
    width: 100%;
    height: 100%;
  }
}

@media print {
  #editor, .CodeMirror {
    display: none;
  }
}
