/**
 * Styling for the main element, including a .page-break element
 */
html, body {
  margin: 0;
  padding: 0;

  /* Use a non-white background color to make the content areas stick out from the full page box */
  background-color: #eee;
}

* {
  /* Include the content box as well as padding and border for precise definitions */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Defines a class for manual page breaks via inserted .page-break element */
div.page-break {
  page-break-after: always;
  border-bottom: 1px dashed #DDD;
  margin: 1cm -2cm;
}

/* For top-level headings only */
h1 {
  /* Force page breaks after */
  //page-break-before: always;
}

/* For all headings */
h1, h2, h3, h4, h5, h6 {
  /* Avoid page breaks immediately */
  page-break-after: avoid;
}

/* For all paragraph tags */
p {
  /* Reset the margin so that the text starts and ends at the expected marks */
  margin: 0;
}

/* For adjacent paragraph tags */
p + p {
  /* Restore the spacing between the paragraphs */
  margin-top: 0.5cm;
}
/* For links in the document */
a {
  /* Prevent colorization or decoration */
  text-decoration: none;
  color: black;
}

/* For tables in the document */
table {
  /* Avoid page breaks inside */
  page-break-inside: avoid;
}

/* Use CSS Paged Media to switch from continuous documents to sheet-like documents with separate pages */
@page {
  /* You can only change the size, margins, orphans, widows and page breaks here */

  /* Require that at least this many lines of a paragraph must be left at the bottom of a page */
  orphans: 4;
  /* Require that at least this many lines of a paragraph must be left at the top of a new page */
  widows: 2;
}

/* When the document is actually printed */
@media print {
  html, body {
    /* Reset the document's background color */
    background-color: #fff;
  }
  div.page-break {
    border: none;
    margin: 0;
  }

  main {
    /* Reset all page styles that have been for better screen appearance only */
    /* Break cascading by using the !important rule */
    /* These resets are absolute must-haves for the print styles and the specificity may be higher elsewhere */
    width: initial !important;
    min-height: initial !important;
    margin: 0 !important;
    padding: 0 !important;
    border: initial !important;
    border-radius: initial !important;
    background: initial !important;
    box-shadow: initial !important;

    /* Force page breaks after each .page element of the document */
    page-break-after: always;
  }
}

// A4 size + padding left and right
@media only screen and (min-width: 25cm) {
  main {
    /* Divide single pages with some space and center all pages horizontally */
    margin: 1cm auto;
    /* Define a white paper background that sticks out from the darker overall background */
    background: #fff;
    /* Show a drop shadow beneath each page */
    box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);

    /* Reflect the paper width in the screen rendering (must match size from @page rule) */
    width: 21cm;
    /* Reflect the paper height in the screen rendering (must match size from @page rule) */
    min-height: 29.7cm;

    /* Margin per single side of the page */
    padding: 2cm;
  }
}

@media only screen and (max-width: 25cm) {
  html, body {
    background-color: white;
  }
  main {
    background: white;
    margin: 1cm;
  }
  div.page-break {
    display: none;
  }
}

/* Use CSS Paged Media to switch from continuous documents to sheet-like documents with separate pages */
@page {
  /* You can only change the size, margins, orphans, widows and page breaks here */

  /* Paper size and page orientation */
  size: A4 portrait;

  /* Margin per single side of the page */
  /* only works if you set Margin to Default in the print dialog */
  margin: 1.5cm 1.8cm;
}
