/* Variables
   ========================================================================== */
$font-title: 'Helvetica Neue', 'Helvetica', Verdana, Arial, 'Heiti SC', sans-serif;
$body-font: 'Times New Roman', serif;
$color-default: #444;
$background-color: #EEEEEE;

@import "normalize";
@import "page";

/* Global styles
   ========================================================================== */
* {
  /* Include the content box as well as padding and border for precise definitions */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 10pt;
  font-family: $body-font;
  margin: 0 auto;
  color: #444;

  /* Use a non-white background color to make the content areas stick out from the full page box */
  background-color: $background-color;
}

/* For all headings */
h1, h2, h3, h4, h5, h6 {
  /* Avoid page breaks immediately */
  page-break-after: avoid;
}

/* For all paragraph tags */
p {
  /* Reset the margin so that the text starts and ends at the expected marks */
  margin: 0;
  line-height: 1.45em;
  font-weight: 300;
  color: #030303;

  a {
    color: #2B8CD2;
  }
}

/* For adjacent paragraph tags */
p + p {
  /* Restore the spacing between the paragraphs */
  margin-top: 0.5cm;
}

/* For tables in the document */
table {
  /* Avoid page breaks inside */
  page-break-inside: avoid;
}

ul, ol {
  padding-left: 20px;
  margin: 7px 0;
}

strong {
  font-weight: 700;
}

h1 {
  font-size: 16pt;
  margin: 0 0 6pt;
  font-weight: 400;
  color: #030303;
}

/* For links in the document */
a {
  color: black;
  // use a dashed underline for decoration
  text-decoration: none;
  border-bottom: 1px dashed #ddd;
}

.contact {
  font-weight: 300;
  color: #444;
  line-height: 1.35em;
  display: block;

  a {
    display: inline-block;
  }

  span em {
    font-style: normal;
    width: 130px;
  }

  em {
    font-style: normal;
    display: inline-block;
    width: 130px;
  }
}

.ref {
  font-size: 9pt;
  display: block;
  margin: 5pt 0 5pt;
  font-family: $font-title;
  font-weight: 300;
  color: #999;
}

/* Sections
   ========================================================================== */
section {

  h2 {
    font-size: 11pt;
    padding-top: 9pt;
    margin: 0 0 2pt 0;
    font-weight: 400;
    color: #2B8CD2;
    letter-spacing: 0.10rem;
    text-transform: uppercase;
    border-bottom: 0.8px solid #E5E5E5;
    padding-bottom: 3pt;
  }

  h2 {
    font-family: $font-title;
  }

  summary {
    font-weight: 600;
    font-size: 10pt;
    margin: 0 0 0;

    .job {
      box-sizing: border-box;
      display: inline-block;
      min-width: 7cm;
    }

    time {
      font-family: $font-title;
      font-weight: 200;
      color: #7A7A7A;
    }
  }

  &.basic {
    text-align: center;
  }

  &.education {
    time {
      float: right;
    }
  }
}

/* Print Styles
   ========================================================================== */

/**
 * - Adjust styles for printing, like color
 * - Hide elements with CSS class .web-only
 */
@media print {

  // no underline for the links
  a {
    border-bottom: none;
  }

  section {
    h2, h3 {
      color: #55AAFF;
    }

    h2 {
      border-bottom: 0.5pt solid #DDD;
    }
  }

  p {
    font-family: $body-font;
    color: #030303;
  }

  .web-only {
    display: none;
  }
}

