$font-title: 'Helvetica Neue', 'Helvetica', Verdana, Arial, 'Heiti SC', sans-serif;
$body-font: 'Times New Roman', serif;
$color-default: #444;
$color-background: white;

@import "normalize";
@import "page";

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 10pt;
  font-family: $body-font;
  margin: 0 auto;
  color: #444;
}

strong {
  font-weight: 700;
}

h1 {
  font-size: 18pt;
  margin: 0 0 6pt;
  font-weight: 400;
  color: #030303;
}

a {
  color: inherit;
  text-decoration: none;
}

.contact {
  font-weight: 300;
  color: #444;
  line-height: 1.35em;
  display: block;

  a {
    display: inline-block;
  }

  span em {
    font-style: normal;
    width: 130px;
  }

  em {
    font-style: normal;
    display: inline-block;
    width: 130px;
  }
}

p {
  line-height: 1.45em;
  margin: 0;
}

.ref {
  font-size: 9pt;
  display: block;
  margin: 5pt 0 5pt;
}

// section like Education/Projects etc
section {

  h2 {
    font-size: 14pt;
    padding-top: 18pt;
    margin: 0 0 5pt 0;
    font-weight: 400;
    color: #2B8CD2;
    letter-spacing: 0.10rem;
    text-transform: uppercase;
    border-bottom: 0.8px solid #E5E5E5;
    padding-bottom: 3pt;
  }

  h3 {
    font-size: 10pt;
    display: block;
    margin: 13pt 0 13pt 0;
    font-weight: 400;
    color: #2B8CD2;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
  }

  h2, h3 {
    font-family: $font-title;
  }

  summary {
    font-weight: 600;
    font-size: 10pt;
    margin: 8pt 0 0;

    .job {
      box-sizing: border-box;
      display: inline-block;
      min-width: 7cm;
    }

    .duration {
      font-family: $font-title;
      font-weight: 200;
      color: #7A7A7A;
    }
  }

}

p {
  font-weight: 300;
  color: #030303;

  a {
    color: #2B8CD2;
  }
}

.ref {
  font-family: $font-title;
  font-weight: 300;
  color: #999;
}

/* ----------------------------------------------------------- */

@media print {

  section {
    h2, h3 {
      color: #55AAFF;
    }

    h2 {
      border-bottom: 0.5pt solid #DDD;
    }

    summary .duration, .ref {
      color: #999;
    }
  }

  p {
    font-family: $body-font;
    color: #030303;
  }
}

section {
  ul, ol {
    padding-left: 20px;
    margin: 7px 0;
  }
}

section.basic {
  text-align: center;
}
